h1 {
    text-align: center;
}

.vis-container {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

body {
    background-color: #f2cbbe;
}

.page {
    width: 1000px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.description-right {
    padding-left: 20px;
}

.pure-g {
    margin-bottom: 50px;
    background-color: #fefefe;
    border: 2px solid #f2cbbe;
    border-radius: 15px;
    padding: 20px;
}

.pure-u-1-1 h1 {
    background-color: #fefae0;
    color: white;
    padding: 10px 15px;
}

