h1 {
    text-align: center;
}

.vis-container {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

body {
    background-color: #e5f3fd;
}

.page {
    width: 1000px;
    background-color: white;
    margin: auto; 
    padding: 50px;
    padding-top: 35px;
}

.description-right {
    padding-left: 20px;
}

.pure-g {
    margin-bottom: 50px;
    background-color: #fefefe;
    border: 2px solid #f2cbbe;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba (0,0,0,0.05);
}

.pure-u-1-1 h1 {
    background-color: #f8e5df;
    color: #5c4033;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: 900;
}

