h1 {
    text-align: center;
}

h1,h2,h3 {
    font-weight: 700;
    letter-spacing: 0.4px;
}

h2, h3 {
    color: #6d4c41;
}

p {
    font-family: 'Poppins', 'Open-Sans', sans-serif;
    font-weight: 500;
    color: #6d4c41;
    font-size: 16px;
}

.vis-container {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

body {
    background-color: #e5f3fd;
    font-family: 'Poppins', 'Open-Sans', sans-serif;
}

.page {
    width: 1000px;
    background-color: white;
    margin: auto; 
    padding: 50px;
    padding-top: 35px;
}

.description-right {
    padding-left: 20px;
}

.pure-g {
    margin-bottom: 100px;
    background-color: #fefefe;
    border: 2px solid #f2cbbe;
    border-radius: 15px;
    padding: 40px;
}

.pure-u-1-1 h1 {
    background-color: #f8e5df;
    color: #5c4033;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: 900;
}

